<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>683607199547-6r6e925h86fph8cla5ck6ugi0u5rhrja.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.683607199547-6r6e925h86fph8cla5ck6ugi0u5rhrja</string>
	<key>API_KEY</key>
	<string>AIzaSyB4u1O8ajRxZ7fbcZZJcMk8BinaIHdUeA0</string>
	<key>GCM_SENDER_ID</key>
	<string>683607199547</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.academy.eventMaker</string>
	<key>PROJECT_ID</key>
	<string>evento-bdd-challenge</string>
	<key>STORAGE_BUCKET</key>
	<string>evento-bdd-challenge.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:683607199547:ios:7d90f723345ec519</string>
	<key>DATABASE_URL</key>
	<string>https://evento-bdd-challenge.firebaseio.com</string>
</dict>
</plist>
